
div.box {
    width: 90%;
    height: 90%;
}

main {
    margin-top: 30px;
}

div.box .con {
    width: 200px;
}

div.result table {
    width: 100%;
}

td {
    text-align: right;
}

/*文字の調整*/
#check {
    font-size: 25px;
}

div.box_Q input {
    font-size: 15px;
    padding: 5px;
}

footer button {
    font-size: 17px;
    padding: 10px 30px;
}
